:root{
--color-dark: #2b2b2b;
--color-secondary: #3B3B3B;
--color-caption:#858584;
--color-light: #fff;
--color-filled:#A259FF;

--font-base:16px;
--font-caption:12px;
--font-h5:22px;
--font-h4:28px;
--font-h3:38px;
--font-h2:51px;
--font-h1:67px;
--font-weight-semibold:600;
--font-weight-regular:400;
--font-weight-bold:700;
--line-height-xxl: 160%;
--line-height-xl:150%;
--line-height-lg:140%;
--line-height-md:130%;
--line-height-sm:120%;
--line-height-xs:110%;

--transition-time:0.3s;

}


body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    background-color:var(--color-dark) ;
    font-family: "Work Sans", sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1050px;
    border: 1px solid red;
}
.section-padding{
    padding-block: 80px;
}

.headline{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heading-h3{
   
   font-size: var(--font-h3);
   font-weight: var(--font-weight-semibold);
   line-height: var(--line-height-sm);

}

.heading-h5{
    font-size: var(--font-h5);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-lg);
}

.font-number{
    font-family: "Space Mono", monospace;
}



.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

.header__desktop-menu{
    display: flex;
    column-gap: 10px;
    align-items: center;

}

.header__item{
    padding: 12px 20px;
}

.header__link{
    color:var(--color-light);
    font-weight: var(--font-weight-semibold);
    display: inline-block;
    
    
}

.scale{
transition: var(--transition-time);
}

.scale:hover {
    transform: scale(0.95);

}

.button{
border-radius: 20px;
color: var(--color-light);
padding-inline: 50px;
font-weight: var(--font-weight-semibold);
display: flex;
column-gap: 12px;
}

.button_filled{
    background-color: var(--color-filled);
}

.button_secondary{
padding-block: 20.5px;
font-size: var(--font-base)
}

.hero__container{
    display: flex;
    justify-content: space-between;
}

.hero__text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--color-light);
    max-width: 510px;
}

.hero__title{
   font-size: var(--font-h1); 
   font-weight: var(--font-weight-semibold);
   line-height: var(--line-height-xs);
   
}

.hero__subtitle{
    font-size: var(--font-h5);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-xxl);
    text-transform: capitalize;
    margin-top: 20px;
}

.hero__button{
    align-self: flex-start;
}

.hero__additional-info{
display: flex;
gap: 30px;
}

.hero__additional-item{
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    
}

.hero__total{
line-height: var(--line-height-lg);
font-weight: var(--font-weight-bold);
font-size: var(--font-h4);

}

.hero__label{
    line-height: var(--line-height-xxl);
    font-size: 23.99px;
}

.headline__subhead{
    color: var(--color-light);
    font-size: var(--font-h5);
    line-height: var(--line-height-xxl);
}
.trending-collection__collection{
    display: flex;
}

.trending-collection__primory-photo{
width: 330px;
height: 330px;
margin-bottom: 15px;

}


.photo_radius{
   border-radius: 20px; 
}

.trending-collection__additional-photos{
    display: flex;
    gap: 15px;
}

.trending-collection__additional-photo{
width: 100px;
height: 100px;
}

.trending-collection__number{
    color: var(--color-light);
    background-color: var(--color-filled);
    font-size: var(--font-h5);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-xxl);
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending-collection__info{
   margin-top: 15px; 
}

.heading-h3_color-light{
    color: var(--color-light);
}

.heading-h5_color-light{
    color: var(--color-light);
}

.artist-card__photo{
    border-radius: 50%;
    width: 24px;
    height: 24px;
}
.artist-card__name{
    font-size: var(--font-base);
    line-height: var(--line-height-lg);
    color: var(--color-light);
   
}

.artist-card{
   display: flex; 
   gap: 12px;
   align-items: center;
}

.trending-collection__collection{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}







