:root{
--color-background: #2b2b2b;
--color-text-light: #fff;
--background-color-filled:#A259FF;
--font-base:16px;
--font-h5:22px;
}


body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    background-color:var(--color-background) ;
    font-family: "Work Sans", sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1050px;
    border: 1px solid red;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

.header__desktop-menu{
    display: flex;
    column-gap: 10px;
    align-items: center;

}

.header__item{
    padding: 12px 20px;
}

.header__link{
    color:var(--color-text-light);
    font-weight: 600;
    display: inline-block;
    transition: 0.3s;
    
}

.header__link:hover{
    transform: scale(0.95);

}

.button{
border-radius: 20px;
color: var(--color-text-light);
padding-inline: 50px;
font-weight: 600;
display: flex;
column-gap: 12px;
}

.button_filled{
    background-color: var(--background-color-filled);
}

.button_secondary{
padding-block: 20.5px;
font-size: var(--font-base)
}





